<div>
    <h2>Registre su E-mail:</h2>
    <input id="userMail" type="email" placeholder="juancito_perez@gmail.com">
    <h3>Mensajes</h3>
    <input id="chat" placeholder="Escribe un mensaje..."> <button id="sendMessage">Enviar</button>
    <p id="chatPanel"></p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>